.featuredproduct {
    padding: 80px 0 100px;
    background-color: #fafcfc;
    background-image: url("../public/images/FeaturedProduct/image_left.png"),url("../public/images/FeaturedProduct/image_right.png");
    background-repeat: no-repeat;
    background-position: left top,right top;
    background-size: auto 100%;
    margin-bottom: 90px;
    height:90vh;
}


