.container{
    
    padding:50px;
    display:grid;
    grid-template-columns:50% 50% ;
    grid-gap:10px;
    margin:0 10%
}
.textBox{
    border-style: solid;
  overflow: hidden;
  padding:10px 30px;
  /* width:30%; */
  border-radius: 100px;
  box-decoration-break: none;
  border-color: #e5e5e5;
}
@media screen and (min-width:1024px){
    .container{
        grid-template-columns:20% 12.5% 40% 12.5%;
        grid-gap:50px;
        margin:0 15%

    }
}