.container {
  height: 12vw;
  background: #f9f9f9;
  align-items: center;
}
.textBox {
  border-style: solid;
  overflow: hidden;
  padding:.5vw;
  border-radius: 100px;
  box-decoration-break: none;
  background-position: right;
  border-color: #e5e5e5;
  margin: 2% 0% 2% 2%;

  width:100%;
}


.inputContainer {
  width: 100%;
  position: absolute;
}
.icon {
  color: rgb(0, 128, 15);
  text-align: right;
  position: relative;
  right: 3%;
  /* toppx */
}

@media screen and (min-width:768px){
  .container{
    height:5vw
  }
  .textBox{
    width: auto;
  }
}
